    <footer>
      {{ partial "foot_custom.html" . }}
      {{ with .Site.Params.footer }} {{ end }}
      <div id="cities">
        <div id="cities-copyright"><p>© {{ T "avtor" }}</p>
          <div><a href="mailto:hello@martyuk.com" target="_blank">hello@martyuk.com</a></div>
          <div><a href="https://t.me/martyukgroup" target="_blank">@martyukgroup</a></div>
        </div>
        <div>{{ T "moskva" }}</div>
        <div>{{ T "london" }}</div>
        <div>{{ T "tokio"}}</div>
        <div>{{ T "rio" }}</div>
      </div>
    </footer>
  </body>
</html>