<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href='{{ "css/style.css" | relURL }}' />
    {{ partial "head_custom.html" . }}
  </head>
  <body>
    <nav>
      <div><a href="{{ substr .Page.RelPermalink 0 4 }}"><strong>{{T "nazvanie"}}</strong></a></div>
      <div>{{ partial "language_switcher.html" . }}</div>
    </nav>