{{ $rUrl := substr .Page.RelPermalink 4 }}
{{ if eq .Language.LanguageName "Russian" }}
  🇷🇺 / <a href="/en/{{ $rUrl }}">🇬🇧</a> /  <a href="/ja/{{ $rUrl }}">🇯🇵</a> / <a href="/pt/{{ $rUrl }}">🇵🇹</a>
{{ else if  eq .Language.LanguageName "English" }}
  <a href="/ru/{{ $rUrl }}">🇷🇺</a> / 🇬🇧 /  <a href="/ja/{{ $rUrl }}">🇯🇵</a> / <a href="/pt/{{ $rUrl }}">🇵🇹</a>
{{ else if  eq .Language.LanguageName "Japanese" }}
  <a href="/ru/{{ $rUrl }}">🇷🇺</a> / <a href="/en/{{ $rUrl }}">🇬🇧</a> /  🇯🇵 / <a href="/pt/{{ $rUrl }}">🇵🇹</a>
{{ else if  eq .Language.LanguageName "Portuguese" }}
  <a href="/ru/{{ $rUrl }}">🇷🇺</a> / <a href="/en/{{ $rUrl }}">🇬🇧</a> / <a href="/ja/{{ $rUrl }}">🇯🇵</a> / 🇵🇹
{{ end }}