{{ if eq .Language.LanguageName "Russian" }}
  🇷🇺 / <a href="/en">🇬🇧</a> /  <a href="/ja">🇯🇵</a> / <a href="/pt">🇵🇹</a>
{{ else if  eq .Language.LanguageName "English" }}
  <a href="/ru">🇷🇺</a> / 🇬🇧 /  <a href="/ja">🇯🇵</a> / <a href="/pt">🇵🇹</a>
{{ else if  eq .Language.LanguageName "Japanese" }}
  <a href="/ru">🇷🇺</a> / <a href="/en">🇬🇧</a> /  🇯🇵 / <a href="/pt">🇵🇹</a>
{{ else if  eq .Language.LanguageName "Portuguese" }}
  <a href="/ru">🇷🇺</a> / <a href="/en">🇬🇧</a> / <a href="/ja">🇯🇵</a> / 🇵🇹
{{ end }}
